
# --- Google Sheets интеграция ---
# ID таблицы: https://docs.google.com/spreadsheets/d/<ЭТОТ-ID>/edit
GOOGLE_SHEET_ID=
# Путь к credentials.json сервисного аккаунта (файл в .gitignore!)
GOOGLE_CREDENTIALS_PATH=
GSHEETS_TAB_ORDERS=Опт
GSHEETS_TAB_REF=Справочник
GSHEETS_SYNC_INTERVAL_MINUTES=5
