# Виртуальное окружение
.venv/
.venv-test/
.pytest_cache/
../venv/

# Кэш Python
__pycache__/
*.pyc

# База данных
*.db
orders.db
tgbot-data/

# Файл с секретами
.env

# IDE
.idea/
.vscode/


credentials.json
secrets/
